/* global styles */
* {
  padding: 0;
  margin: 0;
}

fieldset,
legend {
  padding: 10px 10px;
}

fieldset {
  min-width: 500px;
  margin: 10px 10px 10px 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 20px;
}

li {
  list-style: none;
}

.name-ul,
.gender-ul,
.vehicle-ul {
  padding: 10px 10px;
  display: flex;
  gap: 20px;
  min-width: 400px;
}

.name-ul {
  flex-direction: column;
  max-width: 200px;
}

.name-ul li {
  display: flex;
  flex-direction: column;
}

.name-ul input {
  width: 240px;
  height: 18px;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 5px 5px;
}

.name-ul label {
  margin-bottom: 5px;
}
